.galleryWrapper {
  padding-top: block(large);
  padding-bottom: block(large);
  background-color: var(--bg-secondary-color);
}

.gallery {
  @include gridWidth;
  @include gridPadding;
  max-width: 80%;

  .sliderArrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--font-color);
    text-align: center;
    transform: translate(0, -100%);
    cursor: pointer;
    z-index: 2;
  }

  .sliderArrow::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid var(--bg-color);
    border-top: 0;
    border-right: 0;
  }

  .prev {
    left: -40px;
  }

  .next {
    right: -40px;
  }

  .prev::after {
    margin-left: 6px;
    transform: rotate(45deg);
  }

  .next::after {
    margin-right: 6px;
    transform: rotate(-135deg);
  }


  @include breakpoint(large up) {
    max-width: 800px;

    .prev {
      left: -32px;
    }

    .next {
      right: -32px;
    }
  }
}
