.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--bg-color);
  box-shadow: 0 0 15px 0 var(--shadow-color);
  z-index: 5;
}

.headerInner {
  @include gridWidth;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .headerTitle {
    display: inline-block;
    padding: block(gutter);
    font-family: 'Gaegu', cursive;
    font-size: 24px;
    font-weight: 700;
  }

  @include breakpoint(large up) {

    .headerTitle {
      padding: block(gutter) block(medium);
    }
  }
}
