.nav {
  display: flex;

  ul {
    display: flex;
    margin-bottom: 4px;
  }

  li {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
  }

  li a {
    padding: block(gutter);
  }

  @include breakpoint(small only) {
    @include transition(transform);
    position: fixed;
    top: 63px;
    bottom: 0;
    left: 100%;
    width: 250px;
    background-color: var(--bg-color);
    border-top: 1px solid var(--bg-secondary-color);
    box-shadow: 0 15px 15px 0 var(--shadow-color);
    flex-wrap: wrap;

    ul {
      width: 100%;
      flex-direction: column;
    }

    li {
      display: block;
      border-bottom: 1px solid var(--bg-secondary-color);
    }

    li a {
      display: block;
      padding: 24px block(gutter);
    }

    [mobilemenuopen="true"] & {
      transform: translateX(-100%);
    }
  }

  @include breakpoint(medium up) {
    align-items: center;
  }
}
