.pagination {
  margin-top: block(large);

  ul {
    display: flex;
    margin-right: -(block(gutter));
    margin-left: -(block(gutter));
    flex-wrap: wrap;
  }

  li {
    padding: block(gutter);
  }

  a {
     @include defaultLink;
     font-weight: bold;
  }

  @include breakpoint(medium down) {

    ul {
      justify-content: center;
    }
  }
}

.visuallyHidden {
  @include visuallyHidden;
}

