.section {
  padding-top: block(large);
  padding-bottom: block(large);
  scroll-margin-top: block(large);

  h3 {
    margin-bottom: block(gutter);
  }

  @include breakpoint(large up) {
    padding-top: block(xlarge);
    padding-bottom: block(xlarge);
  }
}

.sectionTitle {
  font-size: 32px;
  letter-spacing: 0.03em;
  margin-bottom: block(large);
}

.sectionTitle span {
  display: inline-block;
  position: relative;
  z-index: 2;

  &::after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 12px;
    background-color: var(--secondary-color);
    transform: translate(12px, -12px) skew(-15deg);
    z-index: -1;
  }
}
