@keyframes pop {
  0% { transform: scale(0); }
  20% { transform: scale(1.1); }
  40% { transform: scale(0.9); }
  60% { transform: scale(1.03); }
  80% { transform: scale(0.97); }
	100% { transform: scale(1); }
}

.personShape {
  width: 100%;
  color: var(--secondary-color);
  transform-box: fill-box;
  transform-origin: 50% 50%;
  transform: scale(0);
  
  [data-inview] & {
    animation: pop 750ms 200ms forwards;
  }
}

.person {
  color: black;
  transform-box: fill-box;
  transform-origin: 50% 50%;
  transform: scale(0);

  [data-inview] & {
    animation: pop 750ms 600ms forwards;
  }
}

.personBg {
  color: white;

  [theme="dark"] & {
    color: var(--font-color);
  }
}